{% extends 'myforum/base.html' %}
{% load myforum_tags %}|

{% block main %}


<div class="topic-header">
    <h3 class="topic-title">{{ current_topic.title }}</h3>
    <p class="topic-description">{{ current_topic.description }}</p>
    <ul class="topic-meta">
        <li class="topic-meta-item"> Created by  {{ current_topic.created_by }}</li>
        <li class="topic-meta-item">on {{ current_topic.created|date:"n/j/y" }}</li>
        <li class="topic-meta-item">{{ current_topic.posts|length }} posts</li>
    </ul>
</div>

<div class="list-view" id="post-list">
    <div class="items">
    
    {% for post in current_topic.posts %}
        <div class="topic-comment clearfix" onmouseover="document.getElementById('hide_{{ post.id }}').style.display='block'" onmouseout="document.getElementById('hide_{{ post.id }}').style.display='none'">
            <div class="avatar">
                <a href="#"><img class="avatar-img" src="{{ post.avatar_url }}" style="width:31px"></a>
            </div>
            <div class="comment-data" style="padding-left: 45px;">
                <h4 class="comment-author">{{ post.created_by }}</h4>
                <p class="comment-date">{{ post.modified|date:"g:ia"|slice:":-1" }} on {{ post.modified|date:"n/j/y" }}</p>
                
                <div class="comment-content" id="comment_{{ post.id }}">
                    {{ post.content|linkbreaks|safe }}
                </div>
                
                <div style="height:16px; ">
                <p class="comment-date" style="margin-right:15px; display:none" id="hide_{{ post.id }}">
                    <!--<a href="javascript:document.getElementById('new_post').focus().scrollIntoView(true)" style="color:#889099">Reply</a> &nbsp; &nbsp;-->
                    {% if user|can_edit:post %}
                        {% url 'myforum:edit_post' post.pk as edit_url %}
                        <a href="#" onclick="edit_post_inline('{{ edit_url }}', 'comment_{{ post.id }}'); this.style.display='none'" style="color:#889099">Edit</a> &nbsp; &nbsp;
                    {% endif %}
                    {% if user|can_delete:post %}
                        <a href="{% url 'myforum:delete_post' post.pk %}" onclick="return confirm('Are you sure?')" style="color:#889099">Delete</a>
                    {% endif %}
                </p>
                </div>
            </div> <!-- .comment-data -->
        </div> <!-- .topic-comment -->
    {% endfor %}
    
    </div> <!-- .items -->
</div> <!-- #post-list -->

<div style="padding-top:20px">
<form method="post" action="">
    {% csrf_token %}
    <textarea id="new_post" name="post" style="width:500px;height:80px;color:#889099"></textarea>
    <br />
    <input type="submit" value="New Post" class="btn btn-primary btn-toolbar" />
</form>
</div>

<script type="text/javascript">
function edit_post_inline(edit_url, comment_id)
{
    document.getElementById(comment_id).innerHTML = '<iframe src="'+edit_url+'" width="620" height="200" frameborder="0" scrolling="no"></iframe>';
}

function edit_post(edit_url)
{
    var new_window = window.open(edit_url, '_blank','width=600,height=400,location=0,menubar=0,status=0,toolbar=0');
    new_window.onbeforeunload = function(){
        setTimeout('location.reload()', 600);
    }
}
</script>

{% endblock %}
